@charset "UTF-8";


@media screen and (max-width:767px) {
    *{
        margin: 0px;
        padding: 0px;
        font-family: monospace;
        text-align: center;
        background-color: black;
        color: white;
    }
    #imgLandingPage img{
        width: 95%;
        margin: auto;
        border: solid 4px rgb(94, 228, 115);
    }
    h1{
        font-size: 2rem;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    h2{
        width: 80%;
        margin: auto;
        padding: 10px;
        border:solid 3px rgb(94, 228, 115);
        border-radius: 6px;
    }
    p{
        font-size: 1.5rem;
        width: 95%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 10px;
        height: 100%;
        border-radius: 6px;
        

    }
    img{
        border: solid 4px rgb(94, 228, 115);
        border-radius: 6px;
        width: 70%;
        
       
    }

    
}