@charset "UTF-8";


@media screen and (max-width:767px){
    *{
    font-family:monospace
    }
    header{
        background-color:rgb(94, 228, 115);
        width: 100%;
    }
    #iconecel{
        display: flex; 
        justify-content: center;
        background-color: transparent;
        position:relative;
        
    }
    #iconecel p {
        margin-left: 5%;
        margin-right: 5%;
    }
    #iconecel p img{
        height: 50px;
    }
    #cabecalhocel {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    #img2{
        margin-top: -120px;
        width:100%;
        height: auto;
        margin-bottom: -3.5px;
    }

    #corpo{
        background-color: black;
        height:100%;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 40px;
    }
    .titCorpo{
        width: 90%;
        margin: auto;
        color: rgb(94, 228, 115);
        text-align: center;
        font-size: 25px;
        margin-bottom: -15px;

    }

    .corpo1{
        height: 100%;
        width: 70%;
        margin: auto;
        margin-top: 30px;
        background-color: black;
        color: white;
        border-radius: 6px;
        border:solid  5px rgb(94, 228, 115);
    }
    .banner{
        text-align: center;
        width: 98%;
        margin: auto;
        margin-top: 5px;
        border-radius: 6px;
    }
    .banner img{
        width:100%;
        height: auto;
        margin: auto;
    }
    
    .descbanner h3{
        text-align: center;
        font-size: 1.5em;
        width: 95%;
        margin: auto;
        margin-bottom: -15px;
        
    }
    .descbanner p{
        text-align: center;
        background-color: rgb(94, 228, 115);
        color: black;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 0px;
    }

    footer{
        width: 100%;
        margin: auto;
        text-align: center;
        
    }
    footer img{
        width: 100%;
        margin: auto;
        margin-top: -165px;
        margin-bottom: 0px;
        height:200px;

    }
    .descFooter{
        color: white;
        display: flex; 
        justify-content: center;
        background-color: transparent;
        position:relative;
    }
    .descFooter1{
        display: flex;
        margin-left: 5%;
        margin-right: 10%;
        text-align: center;
    }
    .descFooter1 img{
        height: 32px;
        margin-top: 15px;
        margin-right: 10%;
        margin-left: 10%;
    }

    #autorFooter{
        color: white;
        position: relative;
    }

    
    
}